.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-image:url("img/bg-d.jpg");
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#Harry_Noodle_Timer {
    float: none;
    font-size: 3.5573080394558128em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Bauhaus 93';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin-top: 74px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#time {
    float: none;
    font-size: 10.4829570871445em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
    margin-top: 0px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#contact {
    float: left;
    font-size: 1.4058483750000001em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Bell MT';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    margin-top: 27px;
    margin-left: 28.074437%;
    clear: none;
    margin-right: 0%;
}

#about {
    float: left;
    font-size: 1.4058483750000001em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Bell MT';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 9;
    margin-top: 27px;
    margin-left: 21.507678%;
    clear: none;
    margin-right: 0%;
}

#box {
    float: none;
    height: 58px;
    margin: 35px auto 0px;
    clear: none;
    width: 379.53px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    padding: 0px;
}

#box1 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 157px;
    clear: both;
    width: 100%;
}

#box2 {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 79px;
    clear: none;
    width: 7.661017%;
    margin-right: auto;
}

#input {
    float: none;
    height: 55px;
    font-size: 1em;
    margin-left: auto;
    margin-top: -47px;
    clear: none;
    width: 7.563082%;
    margin-right: auto;
    background-image:url("img/button.png");
    background-attachment: scroll;
    -webkit-background-size: contain;
    background-size: contain;
    padding-top: 18px;
    padding-bottom: 19px;
    opacity: 1;
    border-width: 0px;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-position: 50% 0%;
    background-repeat: no-repeat no-repeat;
}

@media only screen and (max-width: 1526px) {
    #box2 {
        height: auto;
        margin-top: 46px;
        clear: none;
        width: auto;
    }

    #input {
        height: 55px;
        font-size: 1em;
        margin-top: 0px;
        clear: none;
        width: 126.98px;
        background-image:url("img/button.png");
        background-attachment: scroll;
        -webkit-background-size: contain;
        background-size: contain;
        padding-top: 18px;
        padding-bottom: 19px;
        opacity: 1;
        border-width: 0px;
        background-color: rgba(255, 255, 255, 0);
        border-style: none;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-position: 50% 0%;
        background-repeat: no-repeat no-repeat;
    }

    #box1 {
        margin-top: 157px;
        margin-left: 0%;
        clear: none;
    }
}

@media only screen and (max-width: 1330px) {
    #contact {
        margin-right: 0%;
        clear: none;
        margin-left: 25.031907%;
        margin-top: 27px;
    }

    #time {
        clear: none;
    }

    #Harry_Noodle_Timer {
        margin-top: 23px;
        clear: none;
    }

    #box {
        clear: none;
    }

    #about {
        clear: none;
        margin-top: 27px;
        margin-left: 21.503561%;
    }

    #box1 {
        margin-top: 70px;
        margin-left: 0%;
        clear: none;
    }
}

@media only screen and (max-width: 898px) {
    #box1 {
        margin-top: 60px;
        margin-left: 0%;
        clear: none;
    }
}

@media only screen and (max-width: 638px) {
    #time {
        clear: none;
        margin-top: 0px;
        font-size: 9.48em;
    }

    #Harry_Noodle_Timer {
        margin-top: 23px;
        clear: none;
        font-size: 3.06em;
    }

    #contact {
        clear: none;
        margin-left: 24.504366%;
        margin-top: 27px;
    }

    #about {
        margin-right: 0%;
        clear: none;
        margin-left: 15.657093%;
        margin-top: 27px;
    }

    #box {
        width: 284.53px;
    }

    #box1 {
        margin-top: 57px;
        margin-left: 0%;
        clear: none;
    }
}

@media only screen and (max-width: 519px) {
    #time {
        font-size: 7.88em;
    }

    #Harry_Noodle_Timer {
        font-size: 2.76em;
    }
}

@media only screen and (max-width: 426px) {
    #box {
        width: 51.294748%;
        position: fixed;
        margin: 0px;
        top: auto;
        left: 23.224765%;
        bottom: 3.598269%;
        right: auto;
        display: block;
    }

    #time {
        font-size: 5.28em;
    }

    #Harry_Noodle_Timer {
        font-size: 1.36em;
    }

    #box1 {
        margin-top: 150px;
        margin-left: 0%;
        clear: none;
    }

    .primaryContainer {
        position: relative;
    }

    #about {
        margin-top: 27px;
        margin-left: 12.220236%;
        clear: none;
    }

    #contact {
        margin-top: 27px;
        margin-left: 21.587415%;
        clear: none;
    }

    #box2 {
        clear: none;
    }
}

